@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Open Sans";
  box-sizing: border-box;
}
body {
  background: #000000;
  margin-right: 5%;
  color: #fff;
}
html {
  scroll-behavior: smooth;
}
img {
  float: right;
  margin-left: 10%;
}
#header {
  padding: 10px, 10%;
  width: 100%;
  height: 100vh;
}
.container {
  margin-top: 16%;
  margin-left: 4%;
  font-size: 30px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin-left: 50%;
  margin: 10px 25px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
.container h1 {
  margin-top: 25px;
  font-size: 36px;
}
.container h1 span {
  color: #ff004f;
}
#about {
  /* padding: 80px 0; */
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.col1 {
  flex-basis: 35%;
}
.col1 img {
  width: 100%;
  border-radius: 15px;
}
.col2 {
  flex-basis: 60%;
}
.col2 h1 {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.col2 p {
  font-size: 20px;
  font-weight: 10;
  color: beige;
}
.title {
  display: flex;
  margin: 20px 0 40px;
}
.t1 {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.t1:after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.t1.active-link:after {
  width: 50%;
}
.contents ul li {
  list-style: none;
  margin: 10px 0;
}
.contents ul li span {
  color: #b54769;
  font-size: 22px;
}
.contents span.small {
  color: beige;
  font-size: 20px;
}
.contents ul li a {
  text-decoration: none;
  color: #b54769;
  font-size: 22px;
}
.contents {
  display: none;
}
.contents.active {
  display: block;
}
#portfolio {
  /* padding: 50px 0; */
}
.work {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin-top: 50px;
}
.w1 {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.w1 img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 19px;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.w1:hover img {
  transform: scale(1.1);
}
.w1:hover .layer {
  height: 100%;
}
/* contacts */
.left {
  flex-basis: 35%;
}
.right {
  flex-basis: 60%;
}
.left p {
  margin-top: 30px;
}
.left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.icon {
  margin-top: 30px;
}
.icon a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.icon a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}
.btn {
  display: inline-block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 60px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  background: #ff004f;
}
.right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
nav .fas {
  display: none;
}

/* CSS for small screen */
@media only screen and (max-width: 600px) {
  .container {
    margin-top: 50%;
    font-size: 16px;
  }
  .container h1 {
    font-size: 30px;
  }
  #header img {
    margin-left: 10px;
  }
  /* #img {
    width: 100%;
    float: right;
  } */
  nav .fas {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .col2 h1 {
    font-size: 40px;
  }
  .col1,
  .col2 {
    flex-basis: 100%;
  }
  .col1 {
    margin-bottom: 30px;
  }
  .col2 p,
  .col2.contents {
    font-size: 14px;
  }
  .t1 {
    font-size: 16px;
    margin-right: 20px;
  }
  .contents {
    font-size: 16px;
    margin-right: 20px;
  }

  .contents ul li {
    margin: 5px 0;
  }
  .left,
  .right {
    flex-basis: 100%;
  }
  .work {
    grid-template-columns: repeat(1, 1fr);
  }

  .layer {
    padding: 0 20px;
    font-size: 16px;
  }

  .btn {
    padding: 12px 40px;
    font-size: 16px;
  }

  form input,
  form textarea {
    font-size: 16px;
  }
}
#msg {
  color: #61b752;
  margin-top: -50px;
  display: block;
}
